/*:root {
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -3;
  filter: blur(3px);
  background-image: url('../assets/background.webp');
  background-position: fixed;
  background-size: cover;
}

body {
  /*color: rgb(var(--foreground-rgb));*/
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 500ms ease-in;
  opacity: 1;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  transition: opacity 500ms ease-in;
  opacity: 0;
}