
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 2vh auto;
  width: 98%;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 70%;
  }
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px 0;
}

.hrefs {
  display: block;
}

.list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.list_item {
  color: #000;
  cursor: pointer;
  margin-right: 10px;
  padding: 8px 16px;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 8px;
  border-radius: 8px;
  border: none;
}

.list_item--red {
  background-color: rgb(231, 0, 0);
  box-shadow: rgba(231, 0, 0, 0.5) 0px 8px 8px;
}

.list_item:hover {
  color: #FFF;
  background-color: #d8d8d8;
}

.list_item--red:hover {
  background-color: rgb(231, 0, 0);
}

.form {
  display: flex;
  align-items: center;
  height: 50px;
}

.input {
  padding: 5px 10px;
  float: left;
}

.th, .td {
  padding: 5px 0px;
  background: #FFF;
  text-align: center;
}

.td {
  word-break: break-all;
}

.desc {
  display: flex;
  align-items: center;
  padding: 5px 5px;
}

.image {
  min-width: 60px;
}

.text_container {
  padding-left: 10px;
  width: 100%;
  text-align: left;
}

.subtext {
  font-size: .75rem;
}

.table {
  margin-bottom: 2vh;
}

.tr {
  cursor: pointer;
}

.th_progress, .td_progress {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .th_progress, .td_progress {
    display: table-cell;
  }
}

.tr:hover td {
  background-color: #f3efef;
}

.th:hover, .td:hover {
  color: #777777;
}

.th_blank {
  cursor: initial;
}

.th_blank:hover {
  color: initial;
}