.background {
  width: 100%;
  height: 100%;
  position: fixed;
  backdrop-filter: blur(4px);
}

.modal {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 98%;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .45);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 50%;
  }
}

.container {
  width: 98%;
  margin: 0 auto;
}

.header, .commands {
  margin: 10px 0 10px 0;
}

.commands {
  text-align: right;
}

.header {
  display: flex;
}

.essential_info {
  word-break: break-all;
}

.essential_info_h3 {
  font-size: .95rem;
}

.essential_info_p {
  font-size: .85rem;
  line-height: 1.15rem;
}

.header_image {
  width: 100px;
  margin-right: 10px;
}

.link:hover {
  color: #838282;
}

.commands {
  width: 100%;
}

.textarea {
  display: block;
  min-height: 200px;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
  resize: none;
  border: 1px solid rgba(0, 0, 0, .45);
}
.textarea.wait {
  box-shadow: rgba(255, 0, 0, 0.8) 0px 1px 2px 0px, rgba(255, 0, 0, 0.45) 0px 1px 3px 1px;
}

.textarea:focus  {
  outline: none !important;
}

.button, .select {
  padding: 8px 10px;
  height: 35px;
}

.button {
  background-color: #c92424;
  border: none;
  cursor: pointer;
  color: #FFF;
}

.select {
  margin-left: 5px;
  box-sizing: border-box;
  border-radius: 0;
}

.lock {
  overflow: hidden;
  height: 100vh;
}

.spacer {
  height: 50px;
  margin-bottom: -50px;
  visibility: hidden;
}