.nav {
  background-color: rgb(236, 236, 236);
  box-shadow: 0 -5px 10px 0 rgba(0,0,0,.75);
  height: 50px;
  z-index: 9999;
  position: relative;
}

.container {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 70%;
  }
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow-y: visible;
}

@media only screen and (min-width: 375px) {
  .search {
    width: auto;
  }
}

.logo {
  font-size: 1.75rem;
  line-height: 1.75rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-shadow: 2px 7px 5px rgba(255, 0, 0, 0.3), 
  0px -4px 10px rgba(250, 0, 0, 0.3);
  color: #eb0000;
  font-weight: bold;
  margin-right: 20px;
}

.input {
  background-color: #FFF;
  outline: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 24px;
  border-radius: 12px;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100%;
}

.search_backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
}

.result {
  position: absolute;
  list-style: none;
  top: 50px;
}

.result_item {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 5px 0;
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

.result_item:hover {
  color: gray;
}

.result_load {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #eb0000;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

.result_img {
  width: 55px;
}

.result_desc {
  padding: 5px 10px;
}

.result_h2 {
  font-size: .85rem;
}

.result_p {
  font-size: .65rem;
  line-height: .95rem;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}